<%= form_with(model: product, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:'Input item name' %>
    
          <span class="text-danger">
            <%= show_errors(product, :name) %>
          </span>
     
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class:'form-control', placeholder:'Input item price'%>
       <span class="text-danger">
            <%= show_errors(product, :price) %>
          </span>
  </div>
  
  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class:"form-control", placeholder:'Input item quantity' %>
      <span class="text-danger">
            <%= show_errors(product, :quantity) %>
          </span>
  </div>

  <div class="form-group">
    <%= form.label :supplier_id %>
    <%= collection_select(:product, :supplier_id, @suppliers, :id, :company, {:prompt => false}, class:'form-control') %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-sm btn-outline-success'%>
  </div>
<% end %>
