<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control', placeholder:'Input item name' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class:'form-control', placeholder:'Input item price'%>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class:'form-control', placeholder:'Input item quantity' %>
  </div>

  <div class="form-group">
    <%= form.label :supplier_id %>
    <%= collection_select(:product, :supplier_id, @suppliers, :id, :company, {:prompt => false}, class:'form-control') %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-sm btn-outline-success'%>
  </div>
<% end %>
