<p>
  <strong>Company:</strong>
  <%= @supplier.company %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @supplier.contact_person %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @supplier.contact_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Products</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
    <% @supplier.product.each do |product| %>
       <tr>
         <td> <%= product.name %></td>
         <td> <%= "₱" +" "+product.price.to_s %></td>
         <td> <%= product.quantity %></td>
       </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
